@model _1121754.Models.Members

@{
    ViewData["Title"] = "新增使用者";
}

<h1 class="mb-4">新增使用者</h1>

<h4>請填寫下列資料</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" novalidate>
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="請輸入使用者名稱" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Movie" class="form-label"></label>
                <input asp-for="Movie" class="form-control" placeholder="請輸入電影名稱" />
                <span asp-validation-for="Movie" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Time" class="form-label"></label>
                <input asp-for="Time" class="form-control" placeholder="請輸入時間" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Ticket" class="form-label"></label>
                <input asp-for="Ticket" class="form-control" placeholder="請輸入票數" />
                <span asp-validation-for="Ticket" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="請輸入密碼" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Id" class="form-label"></label>
                <input asp-for="Id" class="form-control" placeholder="請輸入使用者Id" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">送出新增</button>
            </div>
        </form>

        <div class="mt-3">
            <a asp-action="Index" class="btn btn-secondary">回列表</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
